body {
    font-family: arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a { 
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.course-container {
    margin: 0 10px;

}

.all-courses {
    display: flex;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
}

header h1,
nav{
    text-align: center;
} 

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

nav a{
    text-decoration: none;
    transition: all 0.5s ease;
    color: #ecf0f1;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

main {
    background-color: #ecf0f1;
    padding: 20px 0;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    color: #2c3e50;
}

.hero a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 300ms background-color ;
}
 .hero a:hover {
    background-color: #2980b9;
 }

.courses {
          padding : 40px 0;
    }

.course {
    display: flex;
         margin-bottom: 40px;
         text-align: center;
         padding: 10px;
         border: 1px solid transparent;
         border-radius: 5px;
         transition: 300ms all;
}
  .course:hover {
    border: 1px solid black;
}

.course img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-right: 20px;
}

.course-info {
    flex-grow: 1;
}

.course h3 {
    margin: 50px 0 0 0;
    color: #2c3e50;
}
.course p {
    color: #7f8c8d;
    margin: 0;
}

footer{
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 20px 0;
}